

/*==========  Desktop First  ==========*/

@include media-breakpoint-down(xxl) {

  .header {
    padding: 15px 0 10px;
    &__content {
      margin: 0 auto 8px;
    }
  }

  .footer {
    font-size: 14px;
    .logo {
      max-width: 200px;
    }
  }

  .s-gratis {
    &--left {
      left: -100px;
    }
  }

  .s-quiz {
    &--left {
      left: -100px;
    }
    &__img {
      width: 600px;
      bottom: 80px;
      right: -30px;
    }
  }

  .s-program {
    .program {
      margin-bottom: 150px;
      &--right {
        margin: 150px 0;
      }
      &__content {
        margin-right: 30px;
        &--right {
          margin: 0 0 0 30px;
        }
      }
    }
  }

  .s-master {
    .master {
      margin: 0 auto 0 170px;
      &--2 {
        margin-top: 110px;
      }
      &__num {
        font-size: 210px;
      }
      &__name {
        font-size: 24px;
      }
      &__summary {
        font-size: 16px;
        margin-bottom: 20px;
      }
      &__text {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }

  .s-format {

    .tab {
      &__content {
        padding: 50px 40px 30px;
      }
    }

    .format {
      &__advantage {
        margin-right: 20px;
      }
    }

    .advantage {
      &__img {
        margin-right: 0;
      }
    }
  }

  .s-student {
    .student {
      &::before {
        display: none;
      }
    }
  }

}

@include media-breakpoint-down(xl) {

  .header {
    padding: 10px 0;
    &__content {
      margin-bottom: 15px;
    }
  }

  .footer {
    font-size: 13px;
    letter-spacing: -1px;
  }

  .main-menu {
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  
  .s-gratis {
    padding-top: 200px;
    &--left {
      left: -200px;
    }
  }

  .s-quiz {
    padding: 200px 0 400px;
    &--left {
      left: -200px;
    }
  }

  .s-program {
    .program {
      margin-bottom: 130px;
      &--right {
        margin: 130px 0;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__text {
        font-size: 14px;
      }
      &__content {
        margin-right: 20px;
        &--right {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  .s-master {
    .master {
      margin: 0 auto 0 100px;
      &--2 {
        margin-top: 120px;
      }
    }
  }

  .s-student {
    .student {
      padding: 25px 20px;
      max-width: 980px;
      &__img {
        margin-right: 20px;
        max-width: 320px;
      }
      &__ielts {
        margin: 15px 0 0 20px;
      }
      &__comment {
        position: relative;
        margin-top: 25px;
        bottom: 0;
        right: 0;
        // right: 30px;
        // bottom: 25px;
        img {
          max-width: 220px;
        }
        &__title {
          font-size: 14px;
          left: 50%;
          top: 35%;
          transform: translateX(-48%);
          font-weight: bold;
        }
      }
    }
  }

  .s-secret {
    .secret {
      padding-left: 45px;
      &__num {
        font-size: 28px;
      }
      &__content {
        padding: 10px 15px;
        min-height: 300px;
      }
      &__title, &__img {
        margin-bottom: 20px;
      }
      &__text {
        font-size: 15px;
      }
    }
  }

  .s-format {

    &__block {
      margin-bottom: 50px;
      &__title {
        font-size: 16px;
      }
    }

    .format {
      &__title {
        font-size: 14px;
      }
      &__header {
        margin-bottom: 20px;
        img {
          height: 110px;
        }
      }
      &__video {
        .video__label {
          margin-top: 25px;
        }
      }
    }

    .advantage {
      margin-bottom: 20px;
      &__img {
        max-width: 120px;
      }
    }

    .video {
      max-width: 350px;
      &__label {
        margin-top: 0;
      }
    }
  }

  .s-podarok {
    padding: 330px 0 440px;
  }

  .s-tarif {
    margin-top: -150px;
    .tarif {
      padding: 25px 15px;
    }
  }
  
}

// ≥1200px
@include media-breakpoint-down(lg) {
 
  .footer {
    font-size: 14px;
    letter-spacing: 0;
    .logo {
      max-width: none;
    }
    &__content {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .select {
    padding: 30px 15px;
  }

  .s {
    &-quiz {
      padding: 200px 0 50px;
      background-image: none;
      &--left {
        display: none;
      }
      &__img {
        position: relative;
        display: block;
        margin: 50px auto 0;
        width: auto;
        bottom: auto;
        right: auto;
        img {
          margin: 0 auto;
        }
      }
    }

    &-student {
      background-image: none;
      padding: 50px 0;
      margin-top: 0;
      .student {
        max-width: 750px;
        display: block;
        padding: 25px;
        &__img {
          max-width: none;
          margin-right: 0;
          text-align: center;
          .image-layer {
            width: auto;
          }
        }
      }
    }

    &-secret {
      padding: 100px 0;
      margin-top: 0;
    }

    &-format {
      padding: 50px 0;
      background-image: none;
      .advantage {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    &-podarok {
      background-image: none;
      padding: 50px 0;
    }

    &-tarif {
      margin-top: 0;

      
    }

    &-command {
      .command {
        &__content {
          padding: 25px 20px;
        }
        &__block {
          margin-left: 20px;
        }
      }
    }

    &-thanks {      
      padding-top: 200px;
    }
  }

}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }   
  
  .owl-carousel {
    .owl {
      &-nav {
        text-align: center;
      }
      &-prev, &-next {
        position: relative;
      }
    }
  }

  .slick {
    &-arrow {
      top: auto;
      bottom: 0;
      transform: none;
    }
    &-prev {
      left: calc(50% - 50px);
    }
    &-next {
      right: calc(50% - 50px);
    }
    &-slider {
      padding-bottom: 60px;
    }
  }

  .question-modal {
    max-width: 750px;
  }

  .header {
    padding: 10px 0;
    &__content {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #fff;
    border-bottom: 1px solid $accent;
    max-width: none;
    position: fixed;
    top: 78px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  } 
  
  .section {
    padding: 50px 0;
  }

  .tarif-modal {
    padding: 0;
    border-radius: 40px;
  }

  .select {
    display: block;
    margin-top: 0;
    &__title {
      margin-bottom: 15px;
    }
    &__content {
      height: auto;
    }
    &__aside {
      max-width: none;
      text-align: center;
      margin-bottom: 25px;
    }
    &__main {
      max-width: none;
      margin-bottom: 25px;
    }
    &__form {
      max-width: none;
      text-align: center;
      .timer {
        margin: 0 auto 20px;
      }
      .button {
        display: block;
      }
    }
  }

  .s {

    &-pdf {
      padding: 100px 0 50px;
      .pdf {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        &__title {
          font-size: 20px;
          margin-bottom: 40px;
        }
        ul {
          li {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }
      }
    }

    &-gratis {
      padding-top: 150px;
      &--left {
        display: none;
      }
    }

    &-program {
      .program {
        margin-bottom: 40px;
        flex-direction: row-reverse;
        &__content {
          text-align: left;
          margin: 0 0 0 20px;
        }
        &--right {
          margin: 0 0 40px;
        }
        &__ielts {
          display: flex;          
        }
      }
      .button {
        margin: 20px auto 50px;
      }
    }

    &-master {
      background-image: none;
      .section-title {
        margin-bottom: 80px;
      }
      .master {
        margin: 0 auto 0 20px;
        &__num {
          display: none;
        }
        &__text {
          &::before {
            left: -20px;
          }
        }
      }
    }

    &-about {
      margin-top: 0;
    }

    &-student {
      &__text {
        font-size: 16px;
        margin-bottom: 60px;
      }
      &__title {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
      }
      &__about {
        font-size: 20px;
      }
      &__content {
        max-width: 500px;
        margin-bottom: 80px;
      }
      &__block {
        img {
          max-width: 150px;
        }
      }
      &__result {
        font-size: 18px;
      }
      .carousel-student {
        .owl {
          &-item {
            padding: 30px;
          }
        }
      }
      .student {
      }
    }

    &-format {
      &__title {
        margin-bottom: 50px;
        font-size: 20px;
      }
      &__block {
        margin-bottom: 40px;
        &__title {
          font-size: 14px;
        }
      }
      &__num {
        margin-right: 15px;
        font-size: 24px;
      }
      .tab {
        &__content {
          flex-direction: column;
        }
      }
      .format {
        max-width: 410px;
        width: 100%;
        margin: 0 auto 25px;
        &__header {
          margin-bottom: 10px;
          img {
            height: 90px;
          }
        }
        &__advantage{
          margin: 0 0 25px;
          &__title {
            text-align: center;
          }
        }  
        &__video {
          display: block;
          .video {
            margin-bottom: 30px;
            &__label {
              margin-top: 20px;
            }
          }
        }      
      }
      
      .video {
        margin: 0 auto;
      }
    }
    
    &-tarif {
      padding: 50px 0;
      
      .tarif {
        margin: 0 auto 30px;
        padding: 20px 10px;

        .button--tarif {
          display: block;
        }
        &__title {
          margin-bottom: 25px;
        }
        &__text {
          margin-bottom: 20px;
        }
        ul {
          li {
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }

      .garant {
        margin: 70px auto 0;
        &::before {
          display: none;
        }
        &__title {
          margin-bottom: 20px;
        }
        &__text {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }

    &-review {
      .video__label {
        transform: none !important;
      }
      .slick-track {
        padding: 0;
      }
    }

    &-command {
      margin-top: 0;
      .slick {
        &-list {
          margin: 0;;
        }
        &-track {
          padding: 0;
        }
      }
      .carousel-command {
        margin-bottom: 20px;
      }
      .command {
        transform: none !important;
        &__content {
          display: block;
          text-align: center;
          .image-layer {
            text-align: center;
          }
        }
        &__block {
          text-align: left;
          margin-left: 0;
        }
        &__name {
          font-size: 18px;
        }
        &__summary {
          font-size: 16px;
          margin-bottom: 20px;
        }
        &__text {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }

  }

}

// ≥768px
@include media-breakpoint-down(sm) {  
  .circle, .circle-small {
    display: none;
  }

  .main-menu {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .select {
    &__form {
      padding: 0 15px;
    }
  }

  .question-modal {
    .question {
      &__text {
        font-size: 16px;
        margin-bottom: 25px;
      }
      &__thanks {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .line {
        &__red, &__grey {
          width: 50px;
        }
      }

      .label {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    .form {
      .input {
        max-width: 500px;
      }
      &__block {
        margin: 0 auto;
        .button {
          max-width: 500px;
          font-size: 14px;
        }
      }
    }
  }

  .section {
    margin-top: 0;
    &-title {
      font-size: 24px;
      margin-bottom: 50px;
      text-align: center;
    } 
  }

  .form {

    &__title {
      font-size: 14px;
    }

    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    &--vertical {
      .form__content {
        display: block;
        max-width: 500px;
      }
    } 

    &--flex {
      .form {
        &__content {
          display: block;
        }
        &__block {
          max-width: 500px;
        }
        &__info {
          .info {
            max-width: 500px;
            text-align: center;
          }
        }
      }
    }
    
    &__block {
      max-width: 500px;
    }

    &__timer {
      max-width: 270px;
      margin: 10px auto 0;
      &--block {
        display: none;
      }
      &--none {
        display: flex;
      }
    }

    .input {
      max-width: 500px;
    }

    .input-div, .button {
      max-width: 500px;
      width: 100%;
    }
  }

  .remodal {
    padding: 30px 15px 15px;
  }

  .tarif-modal {
    padding: 0;
  }

  .quiz-video-modal {
    padding: 0;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .s {

    &-quiz {
      padding-top: 150px;
    }

    &-gratis {
      padding: 150px 0 50px;
      &__title {
        font-size: 26px;
        margin-bottom: 30px;
      }
      &__text {
        font-size: 18px;
      }
    }

    &-student {
      
      .student {
        &__img {
          max-width: 250px;
          margin: 0 auto 10px;
        }
        &__comment {
          position: relative;
          right: 0;
          bottom: 0;
          margin-top: 15px;
          img {
            max-width: 300px;
          }
        }

        &__result {
          max-width: 135px;
          width: 100%;
        }

        &__ielts {
          width: 90px;
        }
      }
      
    }

    &-secret {
      &__title {
        font-size: 24px;
        margin-bottom: 30px;
      }
      &__text {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 60px;
      }
    }
    
    &-podarok {
      .section-title {
        margin-bottom: 50px;
      }
      &__kurs {
        left: 0;
        padding: 15px;
        max-width: 200px;
      }
      .podarok {
        margin: 0 auto 50px;
        &__img {
          margin: 0 auto 0 -15px;
          &::before, &::after {
            display: none;
          }
        }
        &__price {
          &__block {
            max-width: 160px;
          }
        }
      }
    }

    &-format {
      &__block {
        margin-bottom: 20px;
      }
      .tab {
        &__content {
          flex-direction: column;
          padding: 25px 15px;
        }
        &__links {
          display: block;
          padding-left: 0;
        }
        &__link {
          &.active {
            &::before {
              display: none;
            }
          }          
        }
      }
      .format {
        &__advantage {          
          &__title {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
      }
      .advantage {
        &__title {
          font-size: 13px;
        }
        &__img {
          max-width: 90px;
        }
      }
    }

    &-program {
      background-image: url("../img/figure-back.png");
      background-position: bottom right;
    }

    &-command {
      .carousel-command {
        display: none;
      }

      .carousel-command2 {
        display: block;
      }

      .command {
        &__text {
          max-height: 160px;
        }
      }
    }

    &-vopros {
      background-image: none;
      .vopros {
        margin-bottom: 30px;
        &__block {
          margin-bottom: 10px;
        }
        &__title {
          font-size: 16px;
        }
        &__img {
          width: 50px;
        }
        &__text {
          font-size: 14px;
          margin-left: 65px;
        }
      }
      .s-form__title {
        font-size: 18px;
      }
      .form {
        margin: 0 auto;
      }
    }

    &-contact {
      margin-top: 0;
      .map {
        & > ymaps {
          height: 300px !important;
        }
      }
    }

    &-thanks {
      padding: 150px 20px 120px;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .fancybox-slide--video {
    padding: 0;
  }

  .page-top {
    bottom: 80px;
  }
  
  .callback__wrapper {
    display: block !important; 
  }

  .main-menu {
    top: 68px;
  }

  .footer {
    &__content {
      padding: 15px 0 80px;
    }
  }

  .start {
    font-size: 14px;
    text-align: center;
    &__title {
      font-size: 18px;
      margin-bottom: 50px;
    }
    &__content {
      padding-left: 0;
      text-align: center;
      &::before {
        display: none;
      }
    }
  }

  .select {
    padding: 50px 5px 10px;
    margin: 0 -20px;
    &__title {
      font-size: 16px;
    }
    &__aside {
      max-width: none;
      text-align: center;
      margin-bottom: 25px;
    }
    &__main {
      max-width: none;
      margin-bottom: 25px;
    }
    &__content {
      padding: 15px 10px;
    }
    &__bonus {
      &__title {
        font-size: 14px;
        max-width: 150px;
      }
      .price {
        font-size: 14px;
        &__none {
          font-size: 13px;
        }
      }
    }
    &__form {
      .timer {
        margin: 0 auto 10px;
      }
    }
  }  

  .s {

    &-program {
      .program {
        &__num {
          background-image: none;
          width: 40px;
        }
      }
    }

    &-gratis {
      &--right {
        // display: none;
        right: -135px;        
        top: -50px;
      }
    }

    &-quiz {
       
      &--right {
        right: -115px;
        top: -25px;    
      }
      &__block {
        display: block;
        margin-bottom: 50px;
      }
      &__text {
        font-size: 18px;
      }
      &__title {
        font-size: 23px;
        margin-bottom: 70px;
      }
      &__question {
        margin: 0 auto;
        &::before {
          left: -95px;
          display: none;
        }
        &__title {
          margin-bottom: 20px;
        }
      }
      .quiz {
        &__img {
          margin: 0 auto 40px;
        }
        &__title {
          margin-bottom: 40px;
        }
      }
    }

    &-master {
      .master {
        &__num {
          font-size: 180px;
        }
        &__icons {
          margin-bottom: 25px;
        }
        &__text {
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
    }

    &-about {
      .about {
        padding: 20px 25px 10px;
        &__title {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }

    &-kurs {
      .kurs {
        margin: 0 auto 30px;
        &__block {
          min-height: 110px;
        }
        &__title {
          font-size: 12px;
        }
      }
    }

    &-student {
      &__block {
        img {
          max-width: 110px;
          margin-right: 10px;
        }
      }
      &__about {
        font-size: 14px;
      }

      .carousel-student {
        .owl-item {
          padding: 20px 15px;
        }
      }

      .student {
        padding: 20px 10px 10px;
        &__name {
          font-size: 18px;
          margin-bottom: 15px;
        }
        &__uroven, &__srok {
          font-size: 14px;
        }
        &__learn, &__ball {
          font-size: 14px;
        }
        &__learn--italic {
          font-size: 14px;
        }
        &__ball--max {
          font-size: 16px;
        }
        &__comment {
          font-size: 14px;
          img {
            max-width: 180px;
          }
          &__title {
            width: 150px;
            top: 25%;
            left: 52%;
          }
        }
      }
    }

    &-secret {
      .secret {
        padding-left: 40px;
        &__content {
          min-height: auto;
          padding: 25px 15px;
        }
        &__num {
          font-size: 24px;
        }
        &__title {
          font-size: 16px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }

    &-tarif {
          
    }

    &-command {
      .carousel-command2 {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 40px;
      }
      .slick-slide {
        padding: 10px 15px 20px;
        .command__content {
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07)
        }
      }
    }

  }

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }

  .s-program {
    .program--right {
      margin: 180px 0;
      flex-direction: row-reverse;
      .program {
        &__content {  
          text-align: left;
          margin: 0 0 0 50px;
        }
  
        &__num {
          background-image: url("../img/program-ellipse-right.png");  
          .num {
            left: 45%;
          }      
        }
      }
    }
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}

@include media-breakpoint-up(xxl) {
	
}

@include media-breakpoint-up(xxxl) {
}

@media (min-width: 1920px) {
  .section {
    // background-size: 100% auto;
  }
}